@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
	--header-size:200px;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body{
	@apply bg-black text-white
}

/*Header styles*/

.header{
	@apply w-full relative z-20;
}

.navbar_icons{
	@apply w-6 text-white
}

.navbar_mobile_menu_button{
	@apply relative inline-flex z-20 fixed items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white
}

.navbar_menu_item{
	@apply p-5 w-full block flex items-center;
}
